// Lalezar
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

// Open Sans 300 - 800 (with italic)
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@title_font: 'Lalezar';
@text-font: 'Open Sans';

@sunglow: #FECB2E;
@prussian_blue: #00384D;
@sky_blue: #74C7D3;
@jet: #333333;
@white: #FFFFFF;

html {
    background: @jet;
    height: 100%;
    font-family: @text-font, Arial, Helvetica, sans-serif;
}