<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturer</title>
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles/lecturer.less') }}" />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
</head>
<body>
    <header>
        <div id="text">
            <h1>Lecturer 001</h1>
            <p>UUID: {{ lecturer.UUID }}</p>
        </div>
        <img src="{{ url_for('static', filename='images/LOGO_colour-white.svg')}}" onclick="window.location.href='/'"/>
    </header>
    <main>
        <section id="primary">
            <img src="{{ lecturer.picture_url }}"/>
            <span class="text">
                <span class="name">
                    {{ lecturer.title_before }}
                    {{ lecturer.first_name }}
                    {{ lecturer.middle_name }}
                    {{ lecturer.last_name }}
                    {{ lecturer.title_after }}
                </span>
                <br/>
                <span class="location">Lokace: {{ lecturer.location }}</span>
                <br/>
                <span class="claim">{{ lecturer.claim }}</span>
                <br/>
                {{ lecturer.bio|safe }}
                <ul>
                    {% for tag in lecturer.tags %}
                        <li class="tag" alt="{{ tag.uuid }}">{{ tag.name }}</li> <!-- nejak poresit uuid -->
                    {% endfor %}
                </ul>
            </span>
        </section>
        <section id="secondary">
            <div class="text">
                <span class="price">Cena na hodinu: {{ lecturer.price_per_hour}} Kč</span>
                <div class="contact">
                    <span>Telefonní čísla: </span>
                    {% for phone in lecturer.contact.telephone_numbers %}
                        <span>{{ phone }} ;</span>
                    {% endfor %}
                    <br/>
                    <span>Emaily: </span>
                    {% for email in lecturer.contact.emails %}
                        <span>{{ email }} ;</span>
                    {% endfor %}    
                </div>
            </div>
        </section>
    </main>
    <footer><p>TdA24 - KrakenSlayers</p></footer>
</body>
</html>